@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: red;
    text-align: center;
}

h2{
    text-align: center;
}

nav{
    background-color: red;
    width: 100%;
  
}
 a.a{
    color: white;  
    text-decoration: none;
    margin-left: 50px;  
}

img.m{
    width: 100px;
}
p{
    text-align: center;
}