@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: red;
}

table{
    background-color: red;
    width: 100%;
  
}
td a{
    color: white;
    
}

td{
    text-align: center;
}

img.m{
    width: 100px;
}